---
openapi: 3.1.0
info:
  title: >
    WhatsApp Business Pre-Verified Phone
    Number Sharing API
  version: v25.0
  description: |
    API for sharing WhatsApp Business Pre-Verified Phone Numbers between business entities,
    enabling collaborative phone number management and partnership workflows.
    
    This endpoint allows authorized businesses to share pre-verified phone numbers with
    partner businesses, facilitating multi-business WhatsApp integrations while maintaining
    proper access controls and ownership boundaries. Shared phone numbers can be used by
    partner businesses for WhatsApp Business messaging operations.
  termsOfService: https://developers.facebook.com/terms
  contact:
    name: WhatsApp Business Messaging Team
    url: https://developers.facebook.com/support
  license:
    name: Meta Platform Terms
    url: https://developers.facebook.com/terms
servers:
  - 
    url: https://graph.facebook.com
    description: Production Graph API server
tags:
  - 
    name: Pre-Verified Phone Number Sharing
    description: >
      APIs for sharing pre-verified phone
      numbers between business entities
paths:
  /{Version}/{Business-ID}/share_preverified_numbers:
    post:
      responses:
        200:
          description: >
            Successfully shared pre-verified phone
            number with target business
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreVerifiedPhoneNumberShareResponse'
              examples:
                successful_sharing:
                  summary: >
                    Successful phone number sharing
                    operation
                  value:
                    success: true
        400:
          description: 'Bad Request - Invalid parameters or malformed request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              examples:
                invalid_phone_number_id:
                  summary: Invalid pre-verified phone number ID
                  value:
                    error:
                      message: 'Invalid preverified_id: must be a valid numeric string'
                      type: OAuthException
                      code: 100
                      fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                invalid_business_id:
                  summary: Invalid partner business ID
                  value:
                    error:
                      message: 'Invalid partner_business_id: business not found or not accessible'
                      type: OAuthException
                      code: 100
                      fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        401:
          description: 'Unauthorized - Invalid or missing access token'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: Invalid OAuth access token
                  type: OAuthException
                  code: 190
                  error_subcode: 463
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        403:
          description: 'Forbidden - Insufficient permissions or access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              examples:
                insufficient_permissions:
                  summary: >
                    Insufficient permissions to share phone
                    number
                  value:
                    error:
                      message: >
                        Your business doesn't have permission to
                        share this pre-verified phone number
                      type: OAuthException
                      code: 200
                      error_subcode: 1349174
                      fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                      error_user_title: Permission Denied
                      error_user_msg: >
                        Your business doesn't have permission to
                        share this phone number
                business_relationship_denied:
                  summary: Business relationship access denied
                  value:
                    error:
                      message: >
                        Target business is not accessible or
                        sharing is not allowed
                      type: OAuthException
                      code: 200
                      error_subcode: 1349175
                      fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                      error_user_title: Access Denied
                      error_user_msg: Cannot share with the specified business
        404:
          description: 'Not Found - Resource does not exist or is not accessible'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              examples:
                phone_number_not_found:
                  summary: Pre-verified phone number not found
                  value:
                    error:
                      message: Pre-verified phone number not found
                      type: GraphMethodException
                      code: 803
                      fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                business_not_found:
                  summary: Business not found
                  value:
                    error:
                      message: Business not found
                      type: GraphMethodException
                      code: 803
                      fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        422:
          description: 'Unprocessable Entity - Request parameters are valid but cannot be processed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              examples:
                phone_number_not_shareable:
                  summary: Phone number is not in a shareable state
                  value:
                    error:
                      message: >
                        Pre-verified phone number is not in a
                        shareable state
                      type: GraphMethodException
                      code: 100
                      fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                already_shared:
                  summary: >
                    Phone number already shared with target
                    business
                  value:
                    error:
                      message: >
                        Pre-verified phone number is already
                        shared with the target business
                      type: GraphMethodException
                      code: 100
                      fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                business_relationship_invalid:
                  summary: >
                    Invalid business relationship for
                    sharing
                  value:
                    error:
                      message: >
                        Business relationship does not allow
                        phone number sharing
                      type: GraphMethodException
                      code: 100
                      fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        500:
          description: 'Internal Server Error - Unexpected server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: >
                    An unexpected error occurred. Please
                    retry your request
                  type: GraphMethodException
                  code: 2
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                  is_transient: true
      summary: >
        Share Pre-Verified Phone Number with
        Another Business
      description: |
        Share a pre-verified phone number with another business entity, granting specified
        permissions for collaborative WhatsApp Business messaging operations.
        
        **Use Cases:**
        - Enable partner businesses to use your pre-verified phone numbers for messaging
        - Share phone number resources between parent and subsidiary businesses
        - Facilitate multi-business WhatsApp integrations with shared phone number access
        - Establish temporary or permanent phone number sharing relationships
        
        **Business Logic:**
        - Only businesses with appropriate ownership or sharing rights can share phone numbers
        - Shared phone numbers maintain original ownership while granting usage permissions
        - Multiple businesses can have access to the same phone number with different permission levels
        - Sharing relationships can be time-limited with automatic expiration
        
        **Rate Limiting:**
        Standard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.
        
        **Validation:**
        - Pre-verified phone number must exist and be accessible to the requesting business
        - Target business must be a valid and accessible business entity
        - Requested permissions must be valid and within the scope of allowed sharing permissions
        - Sharing operation must comply with business relationship and access control policies
      operationId: sharePreVerifiedPhoneNumber
      tags:
        - Pre-Verified Phone Number Sharing
      parameters:
        - 
          name: User-Agent
          in: header
          description: >
            The user agent string identifying the
            client software making the request.
          required: false
          schema:
            type: string
            default: >
              Meta-Business-Messaging-OpenAPI/1.0.0;spec=2025-10-21
            example: >
              Meta-Business-Messaging-OpenAPI/1.0.0;spec=2025-10-21
            pattern: '^[a-zA-Z0-9\-_]+\/[0-9]+\.[0-9]+\.[0-9]+(;[a-zA-Z0-9\-=\.]+)?(\s+[a-zA-Z0-9\-_]+\/[0-9\-\.]+)?$'
        - 
          name: Authorization
          in: header
          description: |
            Bearer token for API authentication. This should be a valid access token obtained through the appropriate OAuth flow or system user token.
          required: true
          schema:
            type: string
            example: Bearer EAABwzLixnjYBOzYmNMJJGfHq9DgNh...
            pattern: '^Bearer\s+[A-Za-z0-9\-_.]+.*$'
        - 
          name: Version
          in: path
          description: |
            Graph API version to use for this request. Determines the API behavior and available features.
          required: true
          schema:
            type: string
            pattern: '^v[0-9]+\.[0-9]+$'
          example: v25.0
        - 
          name: Business-ID
          in: path
          description: |
            Your Business ID that owns or has sharing rights to the pre-verified phone number.
            This ID can be found in your Meta Business Manager or through business management APIs.
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
          example: 1234567890123456
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreVerifiedPhoneNumberShareRequest'
            examples:
              basic_sharing:
                summary: Basic phone number sharing
                value:
                  preverified_id: '1234567890123456'
                  partner_business_id: '9876543210987654'
        description: >
          Phone number sharing configuration and
          target business details
        required: true
components:
  schemas:
    PreVerifiedPhoneNumberShareRequest:
      type: object
      description: >
        Request payload for sharing a
        pre-verified phone number with another
        business
      required:
        - preverified_id
        - partner_business_id
      properties:
        preverified_id:
          type: string
          description: |
            Unique identifier of the pre-verified phone number to be shared.
            Must be a valid phone number ID that the requesting business owns or has sharing rights to.
          example: '1234567890123456'
          pattern: '^[0-9]+$'
        partner_business_id:
          type: string
          description: |
            Business ID of the partner business that will receive access to the pre-verified phone number.
            Must be a valid business entity accessible to the requesting app.
          example: '9876543210987654'
          pattern: '^[0-9]+$'
    PreVerifiedPhoneNumberShareResponse:
      type: object
      description: >
        Response containing details of the
        successful phone number sharing
        operation
      required:
        - success
      properties:
        success:
          type: boolean
          description: >
            Indicates whether the sharing operation
            was successful
          example: true
    GraphAPIError:
      type: object
      description: Standard Graph API error response
      required:
        - error
      properties:
        error:
          type: object
          required:
            - message
            - type
            - code
          properties:
            message:
              type: string
              description: Human-readable error message
              example: Invalid parameter
            type:
              type: string
              description: Error category type
              example: OAuthException
            code:
              type: integer
              description: Numeric error code
              example: 100
            error_subcode:
              type: integer
              description: >
                More specific error subcode when
                available
              example: 33
            fbtrace_id:
              type: string
              description: >
                Unique identifier for debugging and
                support requests with Meta
              example: AXsgnV2Cm3ZMGF3dF_cfYIn
            is_transient:
              type: boolean
              description: >
                Indicates whether this error is
                temporary and the request should be
                retried
              example: false
            error_user_title:
              type: string
              description: >
                User-friendly error title for display
                purposes
              example: Permission Denied
            error_user_msg:
              type: string
              description: >
                User-friendly error message for display
                purposes
              example: >
                Your app doesn't have permission to
                access this resource
  securitySchemes:
    bearerAuth:
      type: http
      description: |
        System user access token with whatsapp_business_management permission. Format: Bearer YOUR_SYSTEM_USER_ACCESS_TOKEN
      scheme: bearer
      bearerFormat: JWT
security:
  - 
    bearerAuth: [ ]
