---
openapi: 3.1.0
info:
  title: 'WhatsApp Cloud API - WhatsApp Business Profile API'
  version: v23.0
  description: |
    API for managing WhatsApp Business Profile information including business details,
    contact information, and profile settings.
    This endpoint allows businesses to retrieve and update their WhatsApp Business Profile
    information, including business description, contact details, address, and other
    profile settings essential for customer communication.
  termsOfService: https://developers.facebook.com/terms
  contact:
    name: WhatsApp Business Messaging Team
    url: https://developers.facebook.com/support
  license:
    name: Meta Platform Terms
    url: https://developers.facebook.com/terms
servers:
  - 
    url: https://graph.facebook.com
    description: Production Graph API server
tags:
  - 
    name: WhatsApp Business Profile
    description: >
      APIs for managing WhatsApp Business
      Profile information and settings
paths:
  /{Version}/{Phone-Number-ID}/whatsapp_business_profile:
    get:
      responses:
        200:
          description: >
            Successfully retrieved WhatsApp Business
            Profile information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsAppBusinessProfileResponse'
              examples:
                business_profile_details:
                  summary: Complete business profile information
                  value:
                    data:
                      0:
                        business_profile:
                          messaging_product: whatsapp
                          about: >
                            Welcome to our business! We provide
                            excellent service.
                          address: 123 Business Street, City, State 12345
                          description: >
                            We are a leading provider of quality
                            products and services.
                          email: 'contact@business.com'
                          profile_picture_url: >
                            https://pps.whatsapp.net/v/profile_picture_url
                          websites:
                            0: https://www.business.com
                            1: https://www.facebook.com/business
                          vertical: RESTAURANT
        400:
          description: 'Bad Request - Invalid parameters or malformed request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: 'Invalid parameter: phone_number_id must be a valid numeric string'
                  type: OAuthException
                  code: 100
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        401:
          description: 'Unauthorized - Invalid or missing access token'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: Invalid OAuth access token
                  type: OAuthException
                  code: 190
                  error_subcode: 463
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        403:
          description: 'Forbidden - Insufficient permissions or access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: >
                    Your app doesn't have permission to
                    access this WhatsApp Business Profile
                  type: OAuthException
                  code: 200
                  error_subcode: 1349174
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                  error_user_title: Permission Denied
                  error_user_msg: >
                    Your app doesn't have permission to
                    access this resource
        404:
          description: 'Not Found - Phone Number ID does not exist or is not accessible'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: WhatsApp Business Profile not found
                  type: GraphMethodException
                  code: 803
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        422:
          description: 'Unprocessable Entity - Request parameters are valid but cannot be processed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: >
                    The requested fields are not available
                    for this profile
                  type: GraphMethodException
                  code: 100
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        429:
          description: 'Too Many Requests - Rate limit exceeded'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: Application request limit reached
                  type: OAuthException
                  code: 4
                  error_subcode: 2446079
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                  is_transient: true
        500:
          description: 'Internal Server Error - Unexpected server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: >
                    An unexpected error occurred. Please
                    retry your request
                  type: GraphMethodException
                  code: 2
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                  is_transient: true
      summary: Get WhatsApp Business Profile
      description: |
        Retrieve comprehensive information about a WhatsApp Business Profile, including
        business details, contact information, and profile settings.
        
        
        **Use Cases:**
        - Retrieve current business profile information
        - Check business contact details and settings
        - Verify business vertical and website information
        - Get profile picture URL and about section
        
        
        **Rate Limiting:**
        Standard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.
        
        
        **Caching:**
        Business profile information can be cached for moderate periods, but should be
        refreshed periodically to ensure accuracy.
      operationId: getWhatsAppBusinessProfile
      tags:
        - WhatsApp Business Profile
      parameters:
        - 
          name: User-Agent
          in: header
          description: >
            The user agent string identifying the
            client software making the request.
          required: false
          schema:
            type: string
            default: >
              Meta-Business-Messaging-OpenAPI/1.0.0;spec=2025-10-21
            example: >
              Meta-Business-Messaging-OpenAPI/1.0.0;spec=2025-10-21
            pattern: '^[a-zA-Z0-9\-_]+\/[0-9]+\.[0-9]+\.[0-9]+(;[a-zA-Z0-9\-=\.]+)?(\s+[a-zA-Z0-9\-_]+\/[0-9\-\.]+)?$'
        - 
          name: Authorization
          in: header
          description: |
            Bearer token for API authentication. This should be a valid access token obtained through the appropriate OAuth flow or system user token.
          required: true
          schema:
            type: string
            example: Bearer EAABwzLixnjYBOzYmNMJJGfHq9DgNh...
            pattern: '^Bearer\s+[A-Za-z0-9\-_.]+.*$'
        - 
          name: Content-Type
          in: header
          description: Media type of the request body
          required: true
          schema:
            type: string
            default: application/json
            example: application/json
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
        - 
          name: Version
          in: path
          description: |
            Graph API version to use for this request. Determines the API behavior and available features.
          required: true
          schema:
            type: string
            pattern: '^v[0-9]+\.[0-9]+$'
          example: v23.0
        - 
          name: Phone-Number-ID
          in: path
          description: |
            Your WhatsApp Business phone number ID. This ID represents the phone number
            status entity and can be obtained from your WhatsApp Business Account phone numbers list.
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
          example: '1234567890123456'
        - 
          name: fields
          in: query
          description: |
            Comma-separated list of fields to include in the response. If not specified,
            default fields will be returned (messaging_product, about, address, description, email, profile_picture_url, websites, vertical).
            Available fields: messaging_product, about, address, description, email, profile_picture_url, websites, vertical
          required: false
          schema:
            type: string
          example: >
            messaging_product,about,address,description,email,websites,vertical
    post:
      responses:
        200:
          description: >
            Successfully updated WhatsApp Business
            Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsAppBusinessProfileUpdateResponse'
              examples:
                profile_update_success:
                  summary: Successful profile update
                  value:
                    success: true
        400:
          description: 'Bad Request - Invalid parameters or malformed request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: 'Invalid parameter: email must be a valid email address'
                  type: OAuthException
                  code: 100
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        401:
          description: 'Unauthorized - Invalid or missing access token'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: Invalid OAuth access token
                  type: OAuthException
                  code: 190
                  error_subcode: 463
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        403:
          description: 'Forbidden - Insufficient permissions or access denied'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: >
                    Your app doesn't have permission to
                    modify this WhatsApp Business Profile
                  type: OAuthException
                  code: 200
                  error_subcode: 1349174
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                  error_user_title: Permission Denied
                  error_user_msg: >
                    Your app doesn't have permission to
                    access this resource
        404:
          description: 'Not Found - Phone Number ID does not exist or is not accessible'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: WhatsApp Business Profile not found
                  type: GraphMethodException
                  code: 803
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        422:
          description: 'Unprocessable Entity - Request parameters are valid but cannot be processed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: >
                    The profile picture handle is invalid or
                    expired
                  type: GraphMethodException
                  code: 100
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
        429:
          description: 'Too Many Requests - Rate limit exceeded'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: Application request limit reached
                  type: OAuthException
                  code: 4
                  error_subcode: 2446079
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                  is_transient: true
        500:
          description: 'Internal Server Error - Unexpected server error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAPIError'
              example:
                error:
                  message: >
                    An unexpected error occurred. Please
                    retry your request
                  type: GraphMethodException
                  code: 2
                  fbtrace_id: AXsgnV2Cm3ZMGF3dF_cfYIn
                  is_transient: true
      summary: Update WhatsApp Business Profile
      description: |
        Update WhatsApp Business Profile information including business details,
        contact information, and profile settings.
        
        
        **Use Cases:**
        - Update business description and contact information
        - Modify business address and website information
        - Change business vertical classification
        - Update profile picture using Resumable Upload API
        - Update profile picture and about section
        
        
        **Rate Limiting:**
        Standard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.
        
        
        **Profile Picture Updates:**
        To update the profile picture, first use the Resumable Upload API to obtain a
        profile_picture_handle, then include it in the request.
      operationId: updateWhatsAppBusinessProfileInformation
      tags:
        - WhatsApp Business Profile
      parameters:
        - 
          name: User-Agent
          in: header
          description: >
            The user agent string identifying the
            client software making the request.
          required: false
          schema:
            type: string
            default: >
              Meta-Business-Messaging-OpenAPI/1.0.0;spec=2025-10-21
            example: >
              Meta-Business-Messaging-OpenAPI/1.0.0;spec=2025-10-21
            pattern: '^[a-zA-Z0-9\-_]+\/[0-9]+\.[0-9]+\.[0-9]+(;[a-zA-Z0-9\-=\.]+)?(\s+[a-zA-Z0-9\-_]+\/[0-9\-\.]+)?$'
        - 
          name: Authorization
          in: header
          description: |
            Bearer token for API authentication. This should be a valid access token obtained through the appropriate OAuth flow or system user token.
          required: true
          schema:
            type: string
            example: Bearer EAABwzLixnjYBOzYmNMJJGfHq9DgNh...
            pattern: '^Bearer\s+[A-Za-z0-9\-_.]+.*$'
        - 
          name: Content-Type
          in: header
          description: Media type of the request body
          required: true
          schema:
            type: string
            default: application/json
            example: application/json
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
        - 
          name: Version
          in: path
          description: |
            Graph API version to use for this request. Determines the API behavior and available features.
          required: true
          schema:
            type: string
            pattern: '^v[0-9]+\.[0-9]+$'
          example: v23.0
        - 
          name: Phone-Number-ID
          in: path
          description: |
            Your WhatsApp Business phone number ID. This ID represents the phone number
            status entity and can be obtained from your WhatsApp Business Account phone numbers list.
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
          example: '1234567890123456'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsAppBusinessProfileUpdateRequest'
            examples:
              complete_profile_update:
                summary: Complete business profile update
                value:
                  messaging_product: whatsapp
                  about: >
                    Welcome to our business! We provide
                    excellent service.
                  address: 123 Business Street, City, State 12345
                  description: >
                    We are a leading provider of quality
                    products and services.
                  email: 'contact@business.com'
                  profile_picture_handle: >
                    4:VGVzdC5wbmc=:aW1hZ2UvanBlZw==:ARat4Mt-L09JON3f30SmDkdyPSuyBkDDYiB4TFXuXISjdgHoNp2b7j882_9Jzr2tPrdKxi92UygyVzTivJiOvmebMpZ6MIjTik3gTyI3ZCQAgQ:e:1659995302:2022308451254161:636685196:ARZf1ftR5N6-qSLtklU
                  websites:
                    0: https://www.business.com
                    1: https://www.facebook.com/business
                  vertical: RESTAURANT
              minimal_profile_update:
                summary: Minimal business profile update
                value:
                  messaging_product: whatsapp
                  description: Updated business description
        required: true
components:
  schemas:
    WhatsAppBusinessProfile:
      type: object
      description: >
        WhatsApp Business Profile information
        and settings
      required:
        - messaging_product
      properties:
        messaging_product:
          type: string
          description: >
            The messaging service used for the
            request
          example: whatsapp
          enum:
            - whatsapp
        about:
          type: string
          description: >
            The text to display in business
            profile's About section
          example: >
            Welcome to our business! We provide
            excellent service.
          maxLength: 139
          minLength: 1
        address:
          type: string
          description: The address of the business
          example: 123 Business Street, City, State 12345
          maxLength: 256
        description:
          type: string
          description: Description of the business
          example: >
            We are a leading provider of quality
            products and services.
          maxLength: 256
        email:
          type: string
          format: email
          description: >
            The contact email address of the
            business
          example: 'contact@business.com'
          maxLength: 128
        profile_picture_url:
          type: string
          format: uri
          description: URL of the business profile picture
          example: >
            https://pps.whatsapp.net/v/profile_picture_url
        websites:
          type: array
          description: URLs associated with the business
          example:
            0: https://www.business.com
            1: https://www.facebook.com/business
          maxItems: 2
          items:
            type: string
            format: uri
            maxLength: 256
        vertical:
          $ref: '#/components/schemas/WhatsAppBusinessVertical'
    WhatsAppBusinessProfileUpdateRequest:
      type: object
      description: >
        Request payload for updating WhatsApp
        Business Profile
      required:
        - messaging_product
      properties:
        messaging_product:
          type: string
          description: >
            The messaging service used for the
            request
          example: whatsapp
          enum:
            - whatsapp
        about:
          type: string
          description: >
            The text to display in business
            profile's About section
          example: >
            Welcome to our business! We provide
            excellent service.
          maxLength: 139
          minLength: 1
        address:
          type: string
          description: The address of the business
          example: 123 Business Street, City, State 12345
          maxLength: 256
        description:
          type: string
          description: Description of the business
          example: >
            We are a leading provider of quality
            products and services.
          maxLength: 256
        email:
          type: string
          format: email
          description: >
            The contact email address of the
            business
          example: 'contact@business.com'
          maxLength: 128
        profile_picture_handle:
          type: string
          description: >
            The handle of the profile picture
            generated from Resumable Upload API
          example: >
            4:VGVzdC5wbmc=:aW1hZ2UvanBlZw==:ARat4Mt-L09JON3f30SmDkdyPSuyBkDDYiB4TFXuXISjdgHoNp2b7j882_9Jzr2tPrdKxi92UygyVzTivJiOvmebMpZ6MIjTik3gTyI3ZCQAgQ:e:1659995302:2022308451254161:636685196:ARZf1ftR5N6-qSLtklU
        websites:
          type: array
          description: URLs associated with the business
          example:
            0: https://www.business.com
            1: https://www.facebook.com/business
          maxItems: 2
          items:
            type: string
            format: uri
            maxLength: 256
        vertical:
          $ref: '#/components/schemas/WhatsAppBusinessVertical'
    WhatsAppBusinessVertical:
      type: string
      description: The industry type of the business
      example: RESTAURANT
      enum:
        - OTHER
        - AUTO
        - BEAUTY
        - APPAREL
        - EDU
        - ENTERTAIN
        - EVENT_PLAN
        - FINANCE
        - GROCERY
        - GOVT
        - HOTEL
        - HEALTH
        - NONPROFIT
        - PROF_SERVICES
        - RETAIL
        - TRAVEL
        - RESTAURANT
        - ALCOHOL
        - ONLINE_GAMBLING
        - PHYSICAL_GAMBLING
        - OTC_DRUGS
    WhatsAppBusinessProfileResponse:
      type: object
      description: >
        Response containing business profile
        information
      properties:
        data:
          type: array
          example:
            0:
              business_profile:
                messaging_product: whatsapp
                about: >
                  Welcome to our business! We provide
                  excellent service.
                address: 123 Business Street, City, State 12345
                description: >
                  We are a leading provider of quality
                  products and services.
                email: 'contact@business.com'
                profile_picture_url: >
                  https://pps.whatsapp.net/v/profile_picture_url
                websites:
                  0: https://www.business.com
                  1: https://www.facebook.com/business
                vertical: RESTAURANT
          items:
            type: object
            properties:
              business_profile:
                $ref: '#/components/schemas/WhatsAppBusinessProfile'
    WhatsAppBusinessProfileUpdateResponse:
      type: object
      description: Response after updating business profile
      properties:
        success:
          type: boolean
          description: >
            Indicates whether the update was
            successful
          example: true
    GraphAPIError:
      type: object
      description: Standard Graph API error response
      required:
        - error
      properties:
        error:
          type: object
          required:
            - message
            - type
            - code
          properties:
            message:
              type: string
              description: Human-readable error message
              example: Invalid parameter
            type:
              type: string
              description: Error category type
              example: OAuthException
            code:
              type: integer
              description: Numeric error code
              example: 100
            error_subcode:
              type: integer
              description: >
                More specific error subcode when
                available
              example: 33
            fbtrace_id:
              type: string
              description: >
                Unique identifier for debugging and
                support requests with Meta
              example: AXsgnV2Cm3ZMGF3dF_cfYIn
            is_transient:
              type: boolean
              description: >
                Indicates whether this error is
                temporary and the request should be
                retried
              example: false
            error_user_title:
              type: string
              description: >
                User-friendly error title for display
                purposes
              example: Permission Denied
            error_user_msg:
              type: string
              description: >
                User-friendly error message for display
                purposes
              example: >
                Your app doesn't have permission to
                access this resource
  securitySchemes:
    bearerAuth:
      type: http
      description: |
        System user access token with whatsapp_business_management permission. Format: Bearer YOUR_SYSTEM_USER_ACCESS_TOKEN
      scheme: bearer
      bearerFormat: JWT
security:
  - 
    bearerAuth: [ ]
